
<body>
  <h4 style="text-decoration: none;
  color: #FFF;
  background-color: #348eda;
  border: solid #348eda;
  border-width: 10px 20px;
  line-height: 2;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  text-transform: capitalize;">Sports Tracker</h4>
   <p>The game {{{game}}} is about to start!!!</p>
  <footer>
    <p style="color: #fff;
        background-color: #348eda;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center">© SPORT TRACKER 2017</p>
</footer>
</body>
</html>
